[submodule "share/extensions"]
	path = share/extensions
	url = https://gitlab.com/inkscape/extensions.git
[submodule "subprojects/wrapper/2geom"]
	path = subprojects/wrapper/2geom
	url = https://gitlab.com/advanced-effects/design/lib2geom.git
	branch = msvc-support
[submodule "share/themes"]
	path = share/themes
	url = https://gitlab.com/inkscape/themes.git
[submodule "subprojects/libcroco"]
	path = subprojects/libcroco
	url = https://gitlab.com/inkscape/libcroco.git
[submodule "po"]
	path = po
	url = https://gitlab.com/inkscape/translations.git
	branch = master
